.quiz-box {
    min-height: 350px;
    position: relative;

}

.buttons, .send-button, .answer-buttons {
    position: absolute;
}

.buttons {
    /* right: 42%; */
    bottom: 10%;

    margin: 0 auto;
}

.send-button {
    bottom: 10%;
}

.answer-buttons {
    width: 100%;
    bottom: 20%;
    margin: 0 auto;
}