.quiz-box {
    min-height: 400px;
    position: relative;
}

.buttons, .send-button, .answer-buttons {
    position: relative;
    bottom: 0;
}

/* .buttons {
    right: 42%;
    bottom: 10%;
    margin: 0 auto;
} */

/* .send-button {

} */

.answers {
    position: absolute;
    width: 90%;
    bottom: 5%;
    margin: 0 auto;
}